/*things not specified will be defined by the APP css*/
* {
  color: darkgreen;
}

th, td {
  border: solid 1px gray;
  padding: 3px;
}

table {
  border-collapse: collapse;
}

.cat:hover {
  background-color: lightgoldenrodyellow;
}

.cat:active {
  background-color: yellow;
}

tr.selected, tr.selected input {
  font-weight: bold;
}
