<div class="area">
  <h2>
    A list of all cats
  </h2>
  <p>
    By clicking on their name,
    you can mark them as your favourite.
  </p>
  <table>
    <tr>
      <th>favourite?</th>
      <th>name</th>
      <th></th>
      <th></th>
    </tr>
    <tr [class.selected]="cat.id === favouriteId"
        *ngFor="let cat of cats">
      <td>
        <p class="emoji" *ngIf="cat.id === favouriteId">👑 🐈</p>
      </td>
      <td class="catName" [class.selected]="cat.id === favouriteId"
          (click)="makeFavourite(cat)">  {{cat.name}}  </td>
      <td [class.selected]="cat.id === favouriteId">
        <a routerLink="/detail/{{cat.id}}">details</a>
      </td>
      <td>
        <button (click)="delete(cat.id)">
          delete
        </button>
      </td>
    </tr>
  </table>
</div>
