/*things not specified will be defined by the APP css*/
* {
  color: darkgreen;
}

th, td {
  border: solid 1px gray;
  padding: 3px;
}

table {
  border-collapse: collapse;
  width: 50%;
}

.catName:hover {
  background-color: greenyellow;
}

.catName:active {
  background-color: orange;
}

td.selected, td.selected a {
  font-weight: bold;
}
