<div class="area">
  <h2>
    A list of all cats
  </h2>
  <p>
    You can edit their names, and by clicking on their row,
    you can make them the app's favourite cat:
  </p>
  <table>
    <tr>
      <th>name</th>
      <th></th>
    </tr>
    <tr class="cat" [class.selected]="cat === favouriteCat"
        *ngFor="let cat of cats" (click)="makeFavourite(cat)">
      <td>  {{cat.name}}  </td>
      <td>
        <a routerLink="/detail/{{cat.id}}">details</a>
      </td>
    </tr>
  </table>
</div>
