/*things not specified will be defined by the APP css*/
* {
  color: darkgreen;
}

th, td {
  border: solid 1px gray;
  padding: 3px;
}

table {
  border-collapse: collapse;
  width: 50%;
}

.cat:hover {
  background-color: greenyellow;
}

.cat:active {
  background-color: orange;
}

tr.selected, tr.selected input {
  font-weight: bold;
}
