<div class="toCenterHorizontally">
  <p class="mainDescription">
    The game's basic idea originates with the
    <br />
    Breakout arcade game in 1976 (see on
    <a href="https://en.wikipedia.org/wiki/Breakout_clone">wikipedia</a>).
  </p>
  <ul>
    <li>
      <h3><a routerLink="fixedTimeStepVersion">Built with Angular, using a fixed time step</a></h3>
    </li>
    <li>
      <h3><a routerLink="variableTimeStepVersion">Built with Angular, using a variable time step</a></h3>
    </li>
    <li>
      <p>"Time step" used in <a href="http://gameprogrammingpatterns.com/game-loop.html">this</a> sense, to describe the game loop.</p>
      <p>In each version, refresh page for a different (randomly-generated) level.</p>
    </li>
  </ul>
</div>
