/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Lucida Console";
}

.toCenterHorizontally {
  text-align: center;
}

.subtitle {
  font-weight: normal;
  font-size: 23px;
}

.gameArea {
  background-color: lightgray;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: solid black 1px;
}

.gameArea div {
  position: absolute;
}

.ball, .padde, .block{
  position: absolute;
}

.ball {
  background-color: black;
}

.paddle {
  background-color: red;
}
