/* You can add global styles to this file, and also import other style files */
* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: lightgrey;
  color: #369;
  height: 110px;
}

  header h1 {
    font-size: 45px;
    margin: 0;
    padding: 5px;
    color: darkslateblue;
  }

nav {
  font-size: 30px;
  height: 30px;
}

nav a {
  margin: 0 30px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}
body {
  margin: 0;
}

body, input[type="text"], button {
  font-family: Cambria, Georgia;
}

header, footer {
  text-align: center;
  background-color: lightgrey;
}

footer {
  bottom: 0;
  position: absolute;
  height: 55px;
  width: 100%;
}

  footer p {
    margin: 5px;
    color: darkslategrey;
  }

p {
  font-size: 16px;
  color: red; 
}

.area {
  border: solid 1px grey;
  padding: 15px;
  margin: 10px;
}

.area h2 {
  margin-top: 0px;
  font-size: 25px;
}

button {
  font-size: 20px;
}
