<div class="toCenterHorizontally">
  <p class="mainDescription">
    The game's basic idea originates with the
    <br />
    Breakout arcade game in 1976 (see on
    <a href="https://en.wikipedia.org/wiki/Breakout_clone">wikipedia</a>).
  </p>
  <ul>
    <li>
      <h3><a routerLink="angularVersion">Built with Angular</a></h3>
      <p>using two-way data binding</p>
    </li>
    <li>
      <h3><a routerLink="rxJsVersion">Built with Rx.js</a></h3>
      <p>
        based on
        <a href="https://www.youtube.com/watch?v=vS1-jzngpmw&fbclid=IwAR39HL4cUhOjBJUW1d3B0BWIUhbG7E6hYMNBpnXp1TuLa7QuEDIQawnnP8o">
          this</a>
        presentation
        <br />
        at JsHeroes 2019 by Natalia Tepluhina
      </p>
    </li>
  </ul>
</div>
